$color-0: #250606;
$color-1: #f5853f;
$color-2: #c65422;
$color-3: #ffcdbc;
$color-4: #7c3626;
$color-blanco: #ffffff;
$color-negro: #000;



.mi-navbar {
    background: linear-gradient(to bottom, $color-1, $color-2);
    padding: 10px;
    border-bottom: 2px solid $color-2;
}

.mi-navbar .mi-logo {
    height: 40px;
    margin-right: 10px;
}

.mi-boton-desplegable {
    @include button-style();
}

.mi-container {
    @include flex(space-between, center);
}

.mi-busqueda {
    @include flex(center, center, row);
    gap: 5px;
    flex-grow: 1;
}

.mi-input {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    border: 1px solid $color-3;
    border-radius: 5px;
}

.mi-derecha {
    margin-left: auto;
}

.mi-link-usuario {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: $color-3;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $color-1;
    }
} 
