@import "../base/variables";


.mi-navbar {
    background: linear-gradient(to bottom, $color-1, $color-2);
    padding: 10px;
    border-bottom: 2px solid $color-2;
}

.mi-navbar .mi-logo {
    height: 40px;
    margin-right: 10px;
}

.mi-boton-desplegable {
    @include button-style();
}

.mi-container {
    @include flex(space-between, center);
}

.mi-busqueda {
    @include flex(center, center, row);
    gap: 5px;
    flex-grow: 1;
}

.mi-boton-desplegable{
    margin-bottom: 10px;
}

.dropdown-menu{
    background-color: $color-3;
    border: none;
}

.dropdown-item{
    color:#000 !important;
    text-decoration: none;

    &:hover {
        background-color: #f5853f;
    }
}

.mi-input {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    border: 1px solid $color-3;
    border-radius: 5px;
}

.mi-derecha {
    margin-left: auto;
}

.mi-link-usuario {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: $color-3;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $color-1;
    }
} 
