$color-0: #250606;
$color-1: #f5853f;
$color-2: #c65422;
$color-3: #ffcdbc;
$color-4: #7c3626;
$color-blanco: #ffffff;
$color-negro: #000;


@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: black;
    @include flex(column);
}



.beneficios {
    min-height: 80vh;
    padding: 20px;
    }

.puntuacion i {
    font-size: 1.2rem; /* Tamaño de las estrellas */
    margin-right: 5px; /* Espaciado entre estrellas */
}
