@include responsive(small) {

    /*header general*/
    @media (max-width: 768px) {
        .mi-container {
            flex-direction: column; 
            align-items: center;
            gap: 10px; 
        }
    
        .mi-busqueda {
            width: 100%;
            justify-content: center;
        }
    
        .mi-derecha {
            width: 100%;
            display: flex;
            justify-content: center; 
            margin-left: 0;
            margin-top: 10px; 
        }
    
        .mi-link-usuario {
            width: 100%;
            text-align: center;
            padding: 10px;
        }

        .enlaces {
            flex-direction: column;
            align-items: center;
        }
    
        .enlaces div {
            width: 80%;
        }
    }
    
    .banner {
        height: 400px;
    }
    


    /* videos index*/
    .centrar-video iframe {
        width: 100%;
        height: auto;
    }

        /*Nutricion*/
        .nutricionMain { 
            .bannerNutricion{
            height: 400px;
            }
            .tarjetas {
                flex-direction: column !important;  
                align-items: center; 
                
                .tarjeta {
                    width: 50%;             
                    margin: 15px;         
                }
            }
            .imgNutricion img {
                width: 100%;  
                height: 300px;
            }
            .textoDestacado{
                text-align: center;
            }
        }

        /*Motivacional*/
        .motivacionMain{
            .bannerMotivacion{
                height: 400px;
            }
            .tarjetas{
                flex-direction: column !important;
                align-items: center;
            }
            .tarjetaMotivacion{
                width: 50%;
                margin: 15px;
            }
    
            .imgMotivacion img{
                width: 100%;
                height: 300px;
            }
        }


        .finanzasMain{
            .bannerFinanzas{
                height: 400px;
            }

            .tarjetasFinanzas{
                flex-direction: column !important;
                align-items: center;
                .tarjetaFinanzas{
                    width: 50%;
                    margin: 15px;
                }
            }
            .imgFinanzas img{
                width:100%;
                height: 300px;
            }
        }
    }

    

    
    



@include responsive(medium) {
    .mi-container {
        flex-direction: column; 
        align-items: center;
        gap: 10px; 
    }

    .mi-busqueda {
        width: 100%;
        justify-content: center;
    }

    .mi-derecha {
        width: 100%;
        display: flex;
        justify-content: center; 
        margin-left: 0;
        margin-top: 10px; 
    }

    .mi-link-usuario {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .banner {
        height: 400px;
    }
    .enlaces div {
        width: 45%;
    }
    .centrar-video iframe {
        width: 90%;
        height: auto;
    }

    .enlaces div {
        width: 45%;
    }


    .nutricionMain {

        .bannerNutricion{
            height: 400px;
        }

        .tarjetas {
            flex-direction: column !important;  
            align-items: center;              
        }

        .tarjeta {
            width: 50%;             
            margin: 15px;         
        }

        .imgNutricion img {
            width: 100%; 
            height: 300px;
        }

        .textoDestacado{
            text-align: center;
        }
    }

    /*Motivacional*/
    .motivacionMain{
        .bannerMotivacion{
            height: 400px;
        }
        .tarjetas{
            flex-direction: column !important;
            align-items: center;
        }
        .tarjetaMotivacion{
            width: 50%;
            margin: 15px;
        }

        .imgMotivacion img{
            width: 100%;
            height: 300px;
        }
    }

}
